h1 {
    color: white;
    font-size: 2em;
    letter-spacing: 1px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
}

.infobox {
    background-color: #f1eddf;
    /*background-image: linear-gradient(#e0eeff, #e2ffff);*/
    padding: 30px;
    width: 75%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 30px;
    border-radius: 4px;
    line-height: 1.5;
}

.date {
    font-size:14px;
    margin-bottom:10px;
}

h2 {
    font-size: 1.4em;
    letter-spacing: 1px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
}

p {
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    color:rgb(0, 0, 0);
}

.subscribeText {
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    color:white;
}

img {
    width: 50%;
    height: auto;
}

input[type=text] {
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    padding: 5px 12px;
    margin: 8px 0;
    box-sizing: border-box;
  }

.subscribeButton {
    background-color: #4caf89; /* Green */
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    border-radius: 4px;
    font-size: 16px;
  }

links {
    position: relative !important;
    padding: 20px 20px !important;
    color: white !important;
    font-size: 1em !important;
    text-transform: uppercase !important;

    letter-spacing: 4px !important;
    overflow: hidden !important;
    background: rgba(255, 255, 255, .1) !important;
    box-shadow: 0 5px 5px rgba(0, 0, 0, .2) !important;
}

.sticky {
    position: fixed;
    top: 0;
    width: 100%
  }

/* Padding to show title */
.sticky + .content {
    padding-top: 190px;
}

button {
    border: none;
    background-color: rgba(255, 255, 255, 0);
    color: #0000EE;
    font-family: 'Open Sans', sans-serif;
    text-decoration: underline;
    font-weight: 300;
    font-size:16px;
    cursor:pointer;
}