/* Default of all elements*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-align: center;
    justify-content: center;
    align-items: center;
    font-family: sans-serif;
    text-decoration: none; /* prevent underlined text */
}

/* Default text sizes*/
h1{
    color: white;
    font-size: 2em;
    letter-spacing: 4px;
}

/* Default page elements */
body {
    background: #A8D0E6; /*Fall back color*/
    background-image: linear-gradient( #A8D0E6, #24305E);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 100%; /* changed from 100vh to 100% to cover full page */
}

/*Navigation bar*/
nav {
    background-color: #24305E;
    background: linear-gradient(to top, #262626 80%, #000000 100%);
    padding: 30px;
    box-shadow: 0 5px 5px rgba(0, 0, 0, .2);
}
/*Company Name logo*/
.logo{
    font-size: 3 em;
}
/*Buttons*/
.button_bg{
    display: inline-flex;
    background: linear-gradient(to bottom, #1ec4e9 0%, #673ab7 50%, #262626 55%, #000 100%);
    margin: 1%;
}
a{
    position: relative;
    padding: 20px 20px;
    color: white;
    font-size: 1em;
    text-transform: uppercase;

    letter-spacing: 4px;
    overflow: hidden;
    background: rgba(255, 255, 255, .1);
    box-shadow: 0 5px 5px rgba(0, 0, 0, .2);
}
a:before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 50%;
    height: 100%;
    background: rgba(255, 255, 255, 0.1);
}
a:after{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width:100%;
    height: 100%;
    background: linear-gradient(90deg, transparent, rgba(255, 255, 255, 0.4), transparent);
    transition: 0.5s;
}
a:hover:after{
    left: 100%
}
a span{
    position: absolute;
    display: block;
    transition: 0.5s ease;
}
a span:nth-child(1){
    top: 0;
    left: 0;
    width: 0;
    height: 1px;
    background: #fff;
}
a:hover span:nth-child(1){
    width: 100%;
    transform: translateX(100%);
}
a span:nth-child(3){
    bottom: 0;
    right: 0;
    width: 0;
    height: 1px;
    background: #fff;
}
a:hover span:nth-child(3){
    width: 100%;
    transform: translateX(-100%);
}
a span:nth-child(2){
    top: 0;
    left: 0;
    width: 1px;
    height: 0;
    background: #fff;
}
a:hover span:nth-child(2){
    height: 100%;
    transform: translateY(100%);
}
a span:nth-child(4){
    bottom: 0;
    right: 0;
    width: 1px;
    height: 0;
    background: #fff;
}
a:hover span:nth-child(4){
    height: 100%;
    transform: translateY(-100%);
}
#cur_pg {
    border: solid 4px white;
}


/*Customize loading screen
.preload{
    position: fixed;
    top: 0;
    width: 100%;
    height: 100vh;
    background: white;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: opacity 0.5s ease;
}
.tree1, .tree2, .tree3 {
    height: 100px;
    position: absolute;
    right: 0%;
    z-index: -1;
}
.tree1{
    top: 25%;
    transform: translate(100%, -25%);
    animation: trees 3s ease infinite;
}
.tree2{
    top: 25%;
    transform: translate(100%, -50%);
    animation: trees 3s ease infinite 2s;
}
.tree3{
    top: 25%;
    transform: translate(100%, -75%);
    animation: trees 3s ease infinite 1.5s;
}
.nurse{
    height: 200px;
    animation: nurse 1s ease infinite alternate;
}
.preload h3{
    position: absolute;
    top: 75%;
    transform: translateY(-75%);
    color: black;
    font-size: 30px;
    font-family: sans-serif;
}

section img{
    height: 200px;
}

@keyframes nurse{
    from{
        transform: translateY(0px);
    }
    to{
        transform: translateY(50px);
    }
}
@keyframes trees{
    from{
        right: 0%
    }
    to{
        right: 130%
    }
}
.preload-finish{
    opacity: 0;
    pointer-events: none;
}
*/